* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(83, 224, 83);
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #158cc7;
    color: #ffffff;
}
.header h1{
    display: inline-block;
    font-size: 84px;
}

img {
    border-radius: 50%;
}



.footer h2 {
    font-size: 30px;
    background-color: aqua;
}